body{
    background-image: linear-gradient(rgb(251, 252, 188), rgb(105, 150, 248));
}
.box {
    width: 450px; 
    background: rgba(0, 0, 0, 0.0);
    padding: 40px; 
    text-align: center;
    margin-top: 5%;
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: block;
}
.hox h1{
    font-size:  40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.hox h3{
    font-size: 200px;
    letter-spacing: 3px;
    font-weight: 100;
    color: black;
}
div.box{
    color: black;
    margin-top: 2px;
    margin-left: 20px;
}
.Image img{
    margin-left: 200px;
}
pro.content{
    position: absolute;
    height: 553px;
    width: 800px;
    font-size: 10px;
    overflow-y: auto;
    left: 530px;
    top: 150px;
}
pro.content ul h1{
    font: 30px/30px "Times New Roman", Times, serif;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(192, 24, 24);
}
pro.content ul p{
    font: 30px/30px "Times New Roman", Times, serif;
    font-size: 17px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5px;
}
pro.content2 ul h3{
    font: 30px/30px "Times New Roman", Times, serif;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(192, 24, 24);
}
pro.content2 ul button{
    color: #053885;
    font-size: 20px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 110px;
    margin-right: 30px;
}
.fa-instagram {
    background: rgb(245, 68, 121);
    color: white;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 30px;
}
.fa-google {
    background: rgb(231, 172, 105);
    color: white;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 30px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.5;
}