body{
    background-image: linear-gradient(rgb(251, 252, 188), rgb(105, 150, 248));
}
div.port{
    background-color: rgb(0, 0, 0, 0.1);
    width: 1000px;
    height: 1500px;
    margin-top: 100px;
    margin-left: 247px;
    margin-right: 0px;
    margin-bottom: 10px;
}
#content1{
    margin: none;
    font-style: normal;
    font-size: 19px;
    left: 370px;
    top: 300px;
    color: black;
    position: absolute;
    text-decoration: none;
    text-align: center;
}
pro.content h2{
    font-size: 30px;
    font-style: none;
    left: 435px;
    top: 248px;
    color: black;
    position:  absolute;
    text-decoration: none;
    text-align: center;
    align-content: center;
}
pro.content img{
    margin-top: 70px;
    margin-left: 680px;
    align-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
pro.content2 ul p{
    font: 30px/30px "Times New Roman", Times, serif;
    font-size: 19px;
    margin-left: 150px;
}
h1{
    font: 30px/30px "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 27px;
    text-decoration: underline;
    margin-top: 60px;
    margin-left: 125px;
    align-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
pro.content3 ul p{
    font: 30px/30px "Times New Roman", Times, serif;
    font-size:  19px;
    margin-left: 150px;
}
.back ul button{
    color: #053885;
    font-size: 20px;
}